version: '3.8'
services:
  fish-app:
    build: .
    image: fish-deepstream-app
    runtime: nvidia
    network_mode: host
    privileged: true
    volumes:
      - .:/app
      - /tmp/.X11-unix:/tmp/.X11-unix
    environment:
      - DISPLAY=$DISPLAY
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    ports:
      - "8000:8000"
